<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quicc Timetable</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>

	<section>
		<div>
			<h1>CASE3 Quick Timetable</h1>
			<label for="week">Week</label>
			<select name="week">
				{% for i in range(1,13) %}
					<option value="{{i}}">{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</section>

	<section>
		<table>
			<thead>
				<tr>
					<th class='time'>Time</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
			</thead>
			<tbody>



				{% for hour in data %}
					<tr>
						<td class="time">{{ hour }}:00</td>

						{% for day in data[hour] %}
							{% if data[hour][day] == 'Empty' %}
								<td></td>
							{% elif data[hour][day] != 'None' %}
								<td class='{{ data[hour][day].type }}' rowspan='{{ data[hour][day].duration }}'>
									<p>{{ data[hour][day].name }}</p>
								</td>
							{% endif %}
						{% endfor %}
					
					</tr>	
				{% endfor %}


			</tbody>
		</table>
	</section>
	
	<script src="src/js/jquery-3.4.1.min.js"></script>
	<script src="src/js/main.js"></script>

</body>
</html>